@model PhoneDetailServiceModel

@{ ViewData["Title"] = "Details"; }

<h1 class="my-4">
    @Model.BrandName @Model.Model
</h1>

<div class="row">
    <div class="col-md-8">
        <img class="img-fluid" src="@Model.ImageUrl" alt="">
    </div>

    <div class="col-md-4">
        <h3 class="my-3">Details:</h3>
        <ul>
            <li>Brand: @Model.BrandName</li>
            <li>Model: @Model.Model</li>
            <li>Category: @Model.CategoryName</li>
            <li>Color: @Model.Color</li>
            <li>Price: @Model.Price</li>
        </ul>

        <h3 class="my-3">Description:</h3>
        <p>@Model.Overview</p>

        <h3 class="my-3">Dealer Info:</h3>
        <ul>
            <li>Dealer: @Model.DealerName</li>
            <li>Phone Number: @Model.DealerPhoneNumber</li>
            <li>Town: @Model.DealerTown</li>
        </ul>
        <a asp-controller="Comment" asp-action="All" asp-route-id="@Model.Id" class="btn btn-primary">View Comments</a>
        <a asp-controller="Comment" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary">Add Comment</a>
    </div>

</div>

