@model IEnumerable<PhoneServiceModel>

@{ ViewBag.Title = "Phones Administration"; }

<h1>All Phones</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Category</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var phone in Model)
        {
<tr>
    <td scope="col">@phone.Id</td>
    <td scope="col">@phone.BrandName</td>
    <td scope="col">@phone.Model</td>
    <td scope="col">@phone.CategoryName</td>
    <td scope="col">@phone.Color</td>
    <td scope="col">@phone.Price</td>
    <td scope="col">
        <a asp-area="" asp-controller="Phones" asp-action="Details" asp-route-id="@phone.Id" class="btn btn-primary">Details</a>
        <a asp-area="" asp-controller="Phones" asp-action="Delete" asp-route-id="@phone.Id" class="btn btn-danger float-right ml-3">Delete</a>
        <a asp-area="" asp-controller="Phones" asp-action="Edit" asp-route-id="@phone.Id" class="btn btn-warning float-right ml-3">Edit</a>
</tr>}
    </tbody>
</table>